<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Stewart MacLeman">
    <meta name="description" content="A basic CRUD app for storing cynical quotes.">
    <link rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="./styles.css">

    <title>Cynical Quotes</title>
  </head>

  <body>
    <h1>Cynical Quotes!</h1>
    <h2>Add your cynical quotes below!</h2>

    <!-- Form to add the quotes. ---------------------------------------------->
    <form class="form" action="/add-quote" method="post">
      <p>Submit another quote.</p>
      <div class="quoteAndQuoterCont">

        <div class="quoteCont">
          <label for="quote">Quote:</label>
          <input type="text" id="quote" name="quote" autocomplete="off" autofocus>
        </div>

        <div class="quoterCont">
          <label for="quoter">Quoter:</label>
          <input type="text" id="quoter" name="quoter" autocomplete="off" autofocus>
        </div>

      </div>

      <button type="submit">Add your quote!</button>
    </form>

    <!-- The added quotes. ---------------------------------------------------->
    <h2 class="quotesHeading">Your Cynical Quotes
      <span><div class="dash">-</div><div class="arrow">-></div></span>
    </h2>

    <ul class="quotesUlCont">
      <!-- Loop through the quotes. ---------------------------->
        <% for(let i = 0; i < quotesArray.length; i++) { %>
      <li>
        <div class="quotesDiv">
          <span class="italics"><%= quotesArray[i].quote %></span>
          <span class="bold"><%= quotesArray[i].quoter %></span>
        </div>
        <div class="quoteButtons">
          <div class="hide"><%= quotesArray[i]._id %></div>
          <button type="button" class="edit">Edit</button>
          <button type="button" class="delete">Delete</button>
        </div>
      </li>
    <% } %>
    </ul>

    <!-- The cover for the edit and delete modals ----------------------------->
    <div class="modelCover hide"></div>

    <!-- The edit modal. ------------------------------------------------------>
    <div class="editModal hide" id="editModalId">

      <p>Please make the required adjustments.</p>
      <div class="quoteAndQuoterCont">

        <div class="quoteCont">
          <label for="quoteEdit">Quote:</label>
          <input type="text" id="quoteEdit"  autocomplete="off" autofocus>
        </div>

        <div class="quoterCont">
          <label for="quoterEdit">Quoter:</label>
          <input type="text" id="quoterEdit" autocomplete="off" autofocus>
        </div>

      </div>

      <button type="button" id="editSubId">Click to Update!</button>

    </div>

    <!-- The edit modal. ------------------------------------------------------>
    <div class="deleteModal hide" id="deleteModalId">

      <p>Are you sure you wish to delete?</p>
      <button type="button" id="noDeleteId" class="delCancel">Cancel!</button>
      <button type="button" id="deleteId" class="delConfirm">Delete!</button>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
